<!-- /templates/customers/activate_account.liquid -->
<div class="container">
  {% form 'activate_customer_password' %}
  {{ form.errors | default_errors }}
  <div class="col">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="customer[password]" />
  </div>
  <div class="col">
    <label for="password_confirmation">Password Confirmation</label>
    <input class="form-control" type="password" name="customer[password_confirmation]" />
  </div>
  <div class="col action_bottom">
    <input type="submit" value="Activate Account" />
    <span>or</span>
    <input class="form-control" type="submit" name="decline" value="Decline Invitation" />
  </div>
{% endform %}
</div>
