<!-- /templates/customers/addresses.liquid -->
<div class="container">
    <h1>My Addresses</h1>
    <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#addressesModal" >Create New Address</button>
    <div class="row row-cols-md-4 row-cols-1 my-5 gx-2">
        {% for address in customer.addresses %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {{address | format_address }}
                    </div>
                    <div class="card-footer">
                        <form action="/account/addresses/{{address.id}}" method="post" data-confirm-message="Delete Address">
                            <input type="hidden" name="_method" value="delete">
                            <button class="btn btn-danger" >Delete</button> 
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="addressesModal" tabindex="-1" aria-labelledby="newAddresesModalLabel" aria-hidden="true">
    {% include 'form-error' %}
    {% form 'customer_address', customer.new_address %}
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="text-center" id="newAddresesModalLabel">Add New Address</h2>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col w-100">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control "  value="" name="address[first_name]" size="30" aria-required="true" />
                    </div>   
                    <div class="col">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control "  value="" name="address[last_name]" size="30" />
                    </div>
                    <div class="col">
                    <label for="company">Company</label>
                    <input type="text" class="form-control "  value="" name="address[company]" />
                    </div>
                    <div class="col">
                    <label for="address1">Address 1</label>
                    <input type="text" class="form-control "  value="" name="address[address1]" />
                    </div>
                    <div class="col">
                    <label for="address2">Address 2</label>
                    <input type="text" class="form-control "  value="" name="address[address2]" />
                    </div>
                    <div class="col">
                    <label for="city">City</label>
                    <input type="text" class="form-control"  value="" name="address[city]" />
                    </div>

                    <!-- See docs for @shopify/theme-addresses to support Country and Province -->
                    <div class="col">
                    <label for="country">Country</label>
                    <select id="addressCountryNew" name="address[country]" class="form-control "  />{{all_country_option_tags}}</select>
                    </div>
                    <div class="col">
                    <label for="province">Province</label>
                    <select id="addressProvinceNew" name="address[province]" class="form-control "  /></select>
                    </div>
                    <div class="col">
                    <label for="zip">Zip/Post Code</label>
                    <input type="text" value="" name="address[zip]" class="form-control "  />
                    </div>
                    <div class="col mb-4">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control "  value="" name="address[phone]" />
                    </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-primary"> Create New Address</button>
                </div>
            </div>
        </div>
    {% endform %}
</div>



    {% include 'form-error' %}




