<!-- /templates/customers/reset_password.liquid -->
<div class="container center  py-5" style="display: flex; flex-direction:column; align-items: center;" >
  <h1 class="mb-3">Reset Password</h1>
  <div class="col col-md-4" >
  {% form 'reset_customer_password' %}
      {% include 'form-error' %}
      <label for="password">Password</label>
      <input class="form-control" type="password" value="" name="customer[password]" size="16" />
      <label for="password_confirmation">Password Confirmation</label>
      <input
      type="password"
      value=""
      name="customer[password_confirmation]"
      size="16"
      class="form-control"
      />
      <input class="btn btn-primary mt-3" type="submit" value="Reset Password" />  
      {% endform %}
    </div>
</div>
