
<div class="{{section.settings.container}}">

    <h1>{{ page.title }}</h1>
    <small class="mb-4">{{page.published_at | date : "%B %d, %Y"}}</small>
    <div>{{ page.content }}</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores perspiciatis iure facere similique placeat dolore, fuga repellat qui quibusdam fugit veritatis aperiam vitae, ullam veniam blanditiis nam commodi excepturi labore?
    Ipsam non neque molestias quaerat. Officiis mollitia cumque at velit recusandae libero nam animi. Aut, minima porro voluptatem repudiandae temporibus quam officia illum. Eum nobis dolores voluptas voluptatum commodi odit.
    Quia iure, repellendus dolores corporis laboriosam excepturi nesciunt aspernatur, nam, vero explicabo atque? Corrupti, officiis a. Quaerat dolor deleniti explicabo expedita illum. Ratione officiis fugit voluptatem praesentium nesciunt suscipit doloribus?
    Nobis, at dolores. Maxime impedit eius possimus eos deserunt dicta obcaecati recusandae! At ipsum cumque dolore fuga. Voluptates totam excepturi, deserunt officia inventore eius explicabo laudantium iusto incidunt vitae ducimus.
    Autem nam est veniam ipsum accusamus ipsa laborum assumenda quos commodi porro modi laboriosam aspernatur corporis sequi atque voluptates sapiente aliquam, ratione amet omnis totam eaque soluta quisquam vel. Obcaecati.
    Voluptates reiciendis, veritatis libero fugit sapiente exercitationem consequatur aliquid omnis enim, veniam perspiciatis. Illo iure beatae, possimus consequuntur totam ducimus cum dolore. Reiciendis, dolorum porro quas dolore veniam minus. Consequatur.
    Nisi atque autem quod, dolores voluptatibus maiores animi consequatur corrupti eaque temporibus. Ut dolorum deserunt est eligendi non aperiam excepturi totam assumenda, molestias harum architecto, vero at modi adipisci sint.
    Molestiae libero laudantium labore esse at, voluptatibus vero necessitatibus? Eius provident atque deleniti beatae nostrum repudiandae officia saepe id! Nostrum labore culpa quas quidem et, distinctio tempore. Dolores, incidunt placeat.
    Esse vero autem rem consequatur veniam debitis est suscipit quia illum, eius nisi officia! Voluptatibus, blanditiis necessitatibus. Excepturi quam optio sunt? Dignissimos deserunt pariatur suscipit! Provident dolorum culpa dolorem. Quas!
    Libero dolore ipsam beatae sequi quidem, exercitationem quo officia commodi debitis ex. Officia, commodi. Itaque, laborum nisi. Quam corrupti rerum sequi numquam impedit voluptate labore enim, architecto dolor quisquam officiis?
    Atque natus eligendi ex quos, beatae recusandae harum quibusdam aut eos nobis laborum consectetur nulla aliquid explicabo itaque voluptates provident illo laudantium veniam culpa accusamus? Corporis tempora quos temporibus consectetur.
    Earum quas tempora eum vitae necessitatibus minus, officia nam blanditiis deleniti veritatis nemo eveniet illo ducimus aliquam numquam molestias velit corrupti quisquam quod tenetur rem. Suscipit totam dolorem porro iste!
    Accusantium maxime officiis repellat ab optio pariatur praesentium totam. Consequatur nobis excepturi autem minima laborum deleniti, deserunt ducimus sunt quos, numquam at maxime unde praesentium rem eos sint placeat culpa?
    Iure, saepe dolorem? Sed perferendis sapiente illum velit fugit molestiae culpa reiciendis esse eius ut itaque laudantium cumque, ipsam cum, obcaecati eveniet molestias facilis veritatis voluptatem eum! Minima, cupiditate facere!
    Cupiditate vitae, molestias eaque, dicta maxime eum asperiores ducimus debitis nostrum doloremque repellendus cumque magni ab natus neque vero eius. Non iste quidem velit quasi commodi aliquid expedita iusto enim?
    Iste provident cum iure fugiat tempora, aut praesentium nam vitae aliquid, magni doloremque consequatur distinctio nobis molestiae iusto voluptate at officia ex laboriosam nisi. Officiis aliquam rerum iste sequi consequatur.
    Excepturi quasi illum beatae tempore aut et recusandae corrupti repellat nobis quia expedita amet suscipit sequi deserunt soluta numquam, laudantium quibusdam deleniti accusantium rerum ipsum blanditiis ad quo similique? Laboriosam.
    Ad reprehenderit ipsam tempora reiciendis corporis! Voluptatum quis consectetur aperiam beatae maxime dolorum, amet perspiciatis exercitationem doloremque voluptate quos quasi sequi quae illo corrupti dicta cum. Neque ab maiores eum!
    Natus, ipsum maxime ex quam nemo labore tempora saepe autem error delectus minima quis eius ad nam suscipit reiciendis deserunt modi aut at fugiat odio asperiores laborum? Ut, ipsa sequi.
    Quod excepturi quas quos sequi ab vitae molestias ipsa maiores incidunt voluptatem similique dolorum debitis tempora, sit suscipit laboriosam accusamus, commodi neque enim. A perferendis placeat saepe, consequatur porro magni.
    Corporis atque magni, consectetur ex ullam exercitationem alias iusto distinctio dicta dolores quam quidem nihil accusamus consequatur nam accusantium beatae. Odit amet veniam explicabo nulla quidem fugit voluptate, esse distinctio.
    Sapiente perspiciatis doloremque blanditiis, repellendus ducimus quod perferendis atque, at similique accusamus necessitatibus nemo ratione vero. Dolorem repudiandae mollitia, porro maiores perspiciatis blanditiis cupiditate voluptate tempora officiis nemo voluptas expedita.
    A nesciunt iusto aspernatur quo modi, necessitatibus vel quam temporibus expedita, incidunt distinctio. Est dicta iste eaque obcaecati iusto ex deserunt et dignissimos, illum neque incidunt deleniti quidem explicabo culpa.
    Voluptatum iste, quis animi magnam mollitia eum laboriosam eveniet molestias quos distinctio ullam quisquam, explicabo excepturi error est. Quas porro corporis officia, esse asperiores adipisci debitis consectetur itaque consequatur rem?
    Perferendis ducimus voluptas repudiandae sit quidem harum laudantium officia ex recusandae aut eius maiores aliquam consequuntur quo porro, nulla doloremque hic veritatis laboriosam autem nobis! Atque aliquid deleniti vel voluptates.
    Exercitationem eius aut natus quibusdam pariatur, error labore inventore, dolor unde minima libero corrupti, fuga quasi porro ab molestias optio animi qui! Cupiditate quo ipsa at eos nesciunt quasi corporis.
    Ipsa tempore vel aliquid itaque nemo obcaecati quidem esse tempora doloremque vero voluptatem rerum, quam consequatur corporis omnis illum nulla eos exercitationem recusandae enim accusamus, iure cumque. Repudiandae, debitis ea.
    Ut harum a quis alias suscipit fugiat temporibus quod, modi nulla placeat nisi dignissimos, voluptatem laudantium voluptatum molestias aliquam atque nesciunt minima odit, deserunt animi? Minus in modi eum pariatur!
    Minus ducimus fuga sequi quod. Facilis dolores cumque ducimus vel maxime, amet quis voluptate quia voluptatibus dolore, delectus aspernatur est non ullam illum quibusdam sapiente rem nobis provident molestiae eum.
    Nobis, quia animi culpa explicabo neque omnis porro sapiente sint voluptate eos quis quisquam voluptatibus modi quod sit quo odio nulla eligendi in itaque velit! Numquam suscipit aliquid temporibus nisi.
    Dignissimos voluptatum debitis veritatis adipisci ad. Rem at id possimus minus, tempore recusandae non obcaecati dolores cupiditate repellendus veniam sequi dicta, dolorum odit quod eligendi distinctio placeat saepe. Enim, nisi.
    Officia aperiam, assumenda ab excepturi nemo quaerat quo repudiandae doloribus. Accusamus sint deleniti, expedita nostrum veritatis nemo praesentium facere ipsa placeat voluptatum est porro cum officia vitae velit architecto vero.
    Accusamus quod nemo delectus quos quam libero, quidem deleniti natus et, vel reiciendis sequi perspiciatis. Sapiente unde laboriosam voluptatibus possimus eaque sunt nemo, cum voluptate, quidem laborum odio, assumenda odit.
    Voluptatibus pariatur veritatis laborum, quod praesentium eveniet. Dolore reiciendis tempora aspernatur? Eum, iusto ex itaque voluptas voluptatibus explicabo molestias dolores velit molestiae distinctio tempore totam minus eveniet impedit accusamus fugit!
    Necessitatibus sunt in facilis eos quos, aut dicta, tempore odio omnis error maxime perspiciatis. Corporis officia officiis iure ex minus repudiandae est ipsam laborum error quas quidem rerum, minima accusamus!
    Commodi aspernatur harum quas tempore magni voluptatem perferendis alias temporibus atque debitis eos dolores sit placeat veniam deserunt reiciendis nihil accusantium ipsum rem necessitatibus unde architecto, maxime minus? Blanditiis, similique.
    Sint aliquam modi reprehenderit omnis ab delectus consequuntur illum sequi tempore aliquid expedita saepe provident perspiciatis, aut esse pariatur excepturi sed, cumque dolore ipsam sapiente quidem dolorum iste quis. Itaque?
    Velit autem excepturi nemo quisquam illo sapiente temporibus nihil ratione, laborum quod voluptas eaque sint commodi nulla possimus et iusto nam dolorum perspiciatis, voluptate facere, minima asperiores quas? Ipsum, quis?
    Suscipit, est cum unde quo tenetur recusandae ab expedita ex dolore ea necessitatibus culpa quia veniam corrupti. Omnis mollitia ex pariatur ea excepturi cumque autem commodi nam! Soluta, veritatis blanditiis!
    Nemo saepe eligendi quam labore animi! Quidem esse similique assumenda aspernatur? Explicabo cum nam harum blanditiis libero numquam illo dolor fuga excepturi reiciendis eum amet ratione, ad consequuntur. Vero, aliquam!
    Delectus ut aperiam a molestias earum rem voluptate est laborum. Amet, molestias tempora. Sequi explicabo dolores porro! Eaque provident, odio, eius quasi, possimus numquam asperiores itaque accusamus laudantium sunt quam!
    Laudantium nemo velit fuga fugit assumenda corporis quas quaerat error laboriosam excepturi delectus optio distinctio iusto blanditiis aliquid quo tempora, porro cum sapiente, nesciunt animi! Placeat, tenetur esse? Debitis, enim.
    Totam, delectus facilis! Amet fuga iusto fugiat placeat atque expedita modi deserunt voluptas eaque dolores qui ipsam incidunt tempore minima eveniet ratione quam at, enim hic! Minima nisi officiis accusamus.
    Quis odit enim mollitia voluptas! Magnam fugiat cum illum perferendis! Repudiandae eius sed veniam adipisci rem ea voluptate ab optio veritatis est fugit molestiae, quam possimus aspernatur ratione architecto sunt?
    Deserunt veritatis dolore dignissimos ipsam. Ipsa accusamus repellendus facere sapiente a cum quibusdam, repudiandae quasi doloribus minima iste hic exercitationem laudantium unde nam autem veniam, nisi deleniti nemo, odit reiciendis.
    Vel, odio! In aut pariatur dolores, voluptatem modi possimus facilis reprehenderit eaque est quibusdam hic, deserunt error odit laudantium nostrum suscipit iusto tempore? Unde exercitationem corporis, beatae libero placeat error.
    Officiis quam obcaecati vero excepturi repudiandae deserunt dolorum magni dolore deleniti incidunt accusantium ipsum nesciunt placeat nemo eligendi eum quae aut nostrum eveniet, exercitationem voluptatum ad. Quaerat, enim omnis! Placeat.
    Ab, quaerat exercitationem ea distinctio at expedita eaque ad molestias quisquam nostrum maiores. Deserunt cum assumenda provident quaerat alias quidem nemo atque dolor consectetur, sequi, molestias in, laudantium placeat eveniet!
    Commodi id iure odit itaque deleniti, animi suscipit, odio neque omnis velit cumque nobis culpa, fuga perferendis repellat. Deserunt iusto hic quia ut error voluptatem dolorem nulla voluptas minus accusamus!
    Nihil eveniet velit consequatur inventore dicta maiores nesciunt consectetur error alias. Voluptate dolorem, ipsum ducimus laboriosam magnam doloribus facere, eum ipsa dignissimos voluptatem, exercitationem obcaecati ullam mollitia molestias ipsam beatae?
    Necessitatibus similique rerum nobis, eligendi maiores aspernatur rem, commodi sequi quidem quis aperiam magni inventore corrupti ab? Vero quo qui eligendi soluta exercitationem ab necessitatibus atque, esse mollitia quos dolores.
    Sapiente voluptate optio aperiam recusandae, pariatur corrupti a inventore veritatis id dolorem architecto similique, harum enim maiores sit neque qui molestias? Cum magni amet fugiat blanditiis perspiciatis, dignissimos sunt vitae!
    Neque nesciunt ipsam nisi totam sapiente voluptatibus, dolore nulla? Ex provident in beatae suscipit. Perspiciatis nam, repellat, sapiente deserunt eos tenetur vel iusto esse ipsam sit cum dolore, vero ullam.
    Explicabo porro, deserunt cumque reprehenderit debitis voluptatum possimus saepe quibusdam necessitatibus vero quae, ratione repudiandae in, ab id rem asperiores assumenda. Perspiciatis doloremque veritatis voluptas adipisci nostrum animi dolorum ducimus.
    Cum, a omnis. Perspiciatis odio pariatur ullam nemo corrupti assumenda enim nam esse eum necessitatibus ab obcaecati numquam culpa, harum saepe totam, quasi delectus error a, ipsam rem tenetur earum?
    Laudantium id tempore amet delectus sunt accusantium nobis quod nostrum, perspiciatis dolore velit corporis fugiat magni possimus saepe placeat modi ab debitis officiis enim incidunt voluptatem, nulla officia fugit? Aliquid?
    Ab, ut dolore enim dignissimos mollitia quae? Natus voluptates aspernatur pariatur provident reiciendis corrupti, explicabo eum commodi quisquam delectus excepturi sed magni dicta dolore neque? Suscipit, ex. Eius, doloribus soluta.
    Nihil, vitae atque ut ea harum molestias dolor, aliquam nobis, quidem fugiat velit? Provident culpa iste explicabo fuga sint dolorem accusantium quisquam in, laudantium ipsum perspiciatis nobis totam deserunt cumque!
    Mollitia accusantium ratione delectus, nam nihil ad, saepe et quos, error illo ab voluptatum explicabo earum incidunt autem minus. Sint explicabo suscipit quam, placeat recusandae nihil voluptatum. Odio, aliquam praesentium.
    Sapiente dolorem voluptatibus dignissimos, exercitationem sequi hic repellat expedita dolor quibusdam necessitatibus quasi sunt error mollitia maiores quaerat possimus corporis aliquam accusantium, veniam voluptates quam similique. Cumque aperiam molestiae voluptate!
    Cum deserunt natus iusto mollitia necessitatibus hic id earum rerum voluptas dolore optio vitae nam, maxime at consectetur explicabo porro a totam, ipsum dolores ipsa modi. Nobis vel architecto cum.
    Eveniet magnam illo rem sunt, ipsam obcaecati. Repellendus nam eveniet aliquam libero eum deleniti odio consequatur sit quidem. Dicta dolorem accusamus rerum accusantium, totam iusto minima ut id? Odit, at.
    Nihil placeat adipisci illum hic tempore error reiciendis quaerat animi. Quasi itaque quaerat aperiam earum neque. Optio in eos repellat eius necessitatibus quisquam fuga fugit quidem et reprehenderit, asperiores exercitationem!
    Velit aut aperiam recusandae temporibus veritatis repudiandae voluptatibus numquam, amet aspernatur dolore iusto ad nihil ipsam harum molestiae dicta odio obcaecati quas vero ipsa a expedita. Animi amet eligendi facere.
    Amet sit sint similique enim perferendis, illum illo nostrum vero voluptates, saepe impedit omnis ipsum. Porro illo, veritatis minus inventore eum quibusdam. Nulla dolorem mollitia cupiditate ullam architecto, fugit eligendi.
    Deserunt, vero molestiae, repellendus facilis debitis dicta quasi aliquid ducimus ipsam voluptatibus aspernatur quisquam dolores eius esse sed error, accusamus totam hic laudantium explicabo perferendis at asperiores? Natus, dolorem harum.
    Reiciendis consequuntur necessitatibus nulla, at atque obcaecati ipsum ipsa, sapiente hic laboriosam perferendis, recusandae quidem? Sunt expedita tempore veniam rem error adipisci voluptas praesentium, maiores, sit velit dicta beatae sed.
    Temporibus sit tempore voluptas cum nostrum a suscipit maiores cumque modi harum dolores natus, hic magni, minima quos quis laboriosam repudiandae velit est praesentium ducimus, at tenetur? Autem, iure molestias.
    Magni numquam, quod, quis libero sit ipsa omnis provident corrupti, quos sapiente nulla laudantium consectetur. Soluta officia delectus porro, itaque cupiditate sint ad minus, fuga minima illum libero reiciendis fugit.
    Culpa hic natus quibusdam nam molestias labore maiores eum earum, modi illum eligendi veniam quam reiciendis harum perspiciatis eveniet ea aliquid rerum repellendus nisi illo sequi perferendis minima obcaecati? Illo!
    Ipsam, possimus nesciunt dolor ullam iusto neque numquam, laboriosam, odio cum molestias necessitatibus animi et reiciendis vel officiis officia eligendi corporis! Consequatur tempora nulla, vero ratione molestias provident maiores. Repudiandae?
    Maxime quisquam magni suscipit facere. Unde assumenda nobis vitae tempore earum, rerum natus. Perspiciatis consectetur natus doloremque harum qui, optio rem magni fugit fugiat alias. Non suscipit voluptates quam voluptate.
    Aperiam facilis error odit molestias minima, quod labore non itaque eum minus in dolores pariatur eaque veritatis. Velit natus, dolor sint, est aspernatur et nisi soluta fugit quod voluptatibus fuga!
    Quos eveniet necessitatibus, perferendis repellat voluptatem fugit ratione quas consequuntur sunt nulla, facere mollitia odio illo maxime error iure non. Quam sint soluta fuga ab amet ducimus illo perferendis harum?
    Odio, necessitatibus. Quisquam, quidem quod ipsam voluptate nisi, a sequi fuga velit doloremque rerum nulla quaerat quasi minus quos illo provident laborum, possimus reiciendis vero. Harum officia autem sunt explicabo.
    Modi voluptate vel placeat laborum iure porro eveniet ut expedita repudiandae iusto! Dolore vero veniam hic maxime sequi nulla ut officia odio quis? Voluptatem porro veniam nemo eius ex molestiae.
    Aliquid autem minus reiciendis optio impedit perspiciatis dignissimos unde, sequi maxime natus amet officiis nihil porro aspernatur vitae enim repellendus alias nam temporibus. Alias voluptatibus id fugiat magni, fugit totam.
    Non aliquid velit adipisci incidunt, provident laborum omnis atque commodi architecto, minima a aspernatur repellendus harum alias facilis expedita ut labore nemo nihil illum odio quibusdam distinctio! Odit, dolores fugiat.
    Autem quo vero provident repudiandae deleniti, natus fuga optio dolores ad asperiores nulla quam eum non similique veniam mollitia facere deserunt nemo voluptas distinctio numquam. Dolorem nostrum quas quasi explicabo.
    Inventore obcaecati veritatis totam nostrum beatae, saepe nobis repellat sit doloribus, explicabo labore impedit? Saepe labore vitae aliquid voluptatum eligendi incidunt, nobis quibusdam necessitatibus earum, distinctio non fugit dolor culpa.
    Sint aspernatur assumenda exercitationem eos magni voluptatibus, ab fugit aut modi, officia delectus ad corporis aliquam quod fugiat molestiae veritatis doloremque, sunt iure quam nihil maxime natus temporibus. Error, similique.
    Magni culpa reprehenderit consequatur illum voluptatibus maxime, molestiae voluptatem! Aspernatur nostrum omnis amet consectetur voluptatum, at blanditiis? Esse odio atque nulla est, omnis hic totam rerum obcaecati, veniam iure repudiandae.
    Error nulla repellat soluta hic, ab in totam itaque praesentium numquam omnis doloremque aspernatur officia deserunt voluptatem debitis eum quis, temporibus pariatur. Iusto saepe illo quasi ut magni iure deserunt?
    Dolor officia molestias, quod id vero quidem veritatis quis! Accusamus odio, laboriosam reiciendis, ipsa animi tempora repudiandae iusto nemo aut praesentium sapiente tempore reprehenderit ullam, eaque obcaecati voluptate officia aperiam?
    Magnam similique nostrum provident commodi, beatae fugit voluptas asperiores a? Aspernatur commodi quis reiciendis doloribus laborum officia harum suscipit id voluptates laudantium, consequatur eaque! Ducimus tempore quo assumenda quasi dolore?
    Quia eum a adipisci saepe eveniet aspernatur voluptatum provident earum quod ipsam deleniti quasi nostrum est dolor nobis, quibusdam incidunt, repellat atque dolorum odio labore corporis fugit? Vero, delectus reprehenderit.
    Eos delectus dolorum quam ipsam commodi praesentium quaerat fuga odio ipsum? A quasi odit similique quam eum expedita, sit quas ab doloribus suscipit nobis, nostrum cumque rerum optio, esse omnis!
    Possimus animi, incidunt magnam impedit id, vitae perferendis praesentium magni deserunt delectus natus reprehenderit dolores. Nihil quae magni, iste laborum unde corrupti, ducimus recusandae numquam eveniet repellendus iusto sunt hic.
    Dignissimos sit est illum fugit. Excepturi sunt odit, eius nisi optio a nemo laborum at nesciunt nulla pariatur enim id, ullam nostrum magni molestiae consequatur saepe! Illum minus libero excepturi.
    Repellat earum, quasi mollitia, perspiciatis quisquam ex asperiores quod eveniet, esse iusto vitae praesentium aliquam culpa fugit nisi corrupti consectetur totam reprehenderit. Quidem quibusdam id quasi nobis assumenda nam tempore.
    Quae voluptatibus, harum corporis cumque sed fuga veritatis totam eveniet perspiciatis aliquam iste ipsam ipsum et a magnam quam iusto velit dicta delectus? At aspernatur dolorum quisquam soluta iusto recusandae?
    Fuga iusto impedit illum quasi dolores fugit blanditiis quos cum ab eveniet, repudiandae inventore, consequuntur illo rem quia expedita sit quisquam assumenda non minima delectus? Aperiam libero amet corrupti dolor.
    Veritatis nam temporibus vitae sequi explicabo ullam vero consequuntur velit magni maiores fuga atque harum aspernatur inventore hic ipsum molestias, totam provident eaque commodi cum magnam. Molestias tempore voluptatem temporibus!
    Nam laboriosam pariatur veritatis id fuga dicta animi cupiditate rerum! Nemo provident impedit fuga dolor consequatur numquam dolorem voluptatem aliquam porro quisquam assumenda minus, repellat eveniet, quibusdam rem distinctio nesciunt.
    Beatae veritatis, officia quasi et incidunt doloremque debitis illo similique hic, cum, repudiandae odio dolores quos pariatur in sit unde dignissimos eveniet earum. Perferendis quisquam ipsam animi, perspiciatis nulla officiis.
    Nostrum quaerat rem ratione accusamus labore ducimus in sed dolor tempora exercitationem minus sequi soluta voluptates sunt eius molestiae iste debitis nemo, ullam quae quod molestias. Quam qui laudantium esse?
    Perferendis asperiores quibusdam iusto dolorum est neque sed deleniti ex ad deserunt repellat optio temporibus sit similique modi doloremque libero alias aliquid, quas nesciunt sunt distinctio nobis! Officia, repellat numquam.
    Pariatur nostrum eaque corrupti fuga incidunt quisquam. Reprehenderit animi corporis, quisquam saepe rem iste quam dolore cumque fugiat tempore, earum quaerat dignissimos. Similique aperiam cum dolor consequuntur beatae autem nam.
    Iure maiores, tenetur est ex, numquam animi repellendus commodi itaque quod dicta veritatis id inventore officia voluptate doloribus exercitationem minima, delectus iusto similique voluptas laboriosam. Itaque animi debitis fugiat beatae.
    In fuga omnis eius excepturi vitae voluptatum, accusamus itaque tenetur perspiciatis blanditiis quaerat consequuntur explicabo dolorem neque quis ipsa qui odio commodi. In perferendis vitae soluta veritatis quasi, cupiditate facere.</p>
</div>


{% schema %}
{
   "name": "Page settings",
    "settings": [
    {
       "type": "select",
       "id": "container",
       "label" :"Layout",
       "options":
            [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "container-fluid",
                    "label": "Container-fluid"
                }
            ]
    }
  ]
}
{% endschema %}