.inner-hero-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.inner-hero-section .carousel,
.inner-hero-section svg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  // object-fit: cover;
  // object-position: center;
  z-index: -1;
}
.carousel img {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.dafault_payment_btn {
  height: 30px;
}

.dropup {
  display: inline-block;
  position: absolute;
}

.localebtn {
  // background-color: #3298db;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1;
}

.localebtn img {
  width: 60px;
  height: 60px;
}
.drop-up-content {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 100px;
  height: 100px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid;
  z-index: 1;
}

.dropup:hover .drop-up-content {
  display: flex;
}

#product-info-modal {
  // width: 900px;
}

// #suggestion-modal {
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 100vh;
//   width: 300px;
// }

.title-line {
  position: relative;
  height: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  // top: 50%;
  // bottom: 50%;
}
.featered-title {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: aqua;
  width: fit-content;
}

.img {
  width: 600px;
  height: 600px;
}
.select_title {
  position: relative;
  // width: fit-content;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #3d5a80;
  // text-decoration: underline;
  font-size: 30px;
  padding-left: 5px;
}
.select_title::before {
  position: absolute;
  top: 6px;
  left: -12px;
  bottom: 0;
  display: block;
  content: "";
  width: 8px;
  height: 30px;
  background-color: #0080ff;
}
.selector {
  width: 100px;
  height: 100px;
  border: 3px solid #fb8500;
  border-radius: 10px;
  cursor: pointer;
}
.active_selector {
  width: 100px;
  height: 100px;
  border: 3px solid rgba(4, 251, 4, 1);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1rem 0.5rem 1rem rgba(99, 223, 99, 0.15) !important;
}

.selector_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 0;
}

.grip-img {
  width: 100px;
}
.total {
  font-size: 20px;
  font-weight: 550;
}
.button {
  width: fit-content;
  height: fit-content;
  border: 2px solid #fb8500;
  border-radius: 10px;
  cursor: pointer;
  padding: 2px;
  background-color: #fff;
}

.active_button {
  width: fit-content;
  height: fit-content;
  border: 2px solid rgba(4, 251, 4, 1);
  border-radius: 10px;
  cursor: pointer;
  padding: 3px;
  // background-color: #fff;
  box-shadow: 1rem 0.5rem 1rem rgba(99, 223, 99, 0.15) !important;
}
