.blog_title_con {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_con {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 50px 0 50px 0;
}
